<div class="col-xs-12 od-background-color" ng-controller="SakaiDashboardController">
  <div class="row" ng-show="error">
    <div class="col-xs-12 col-md-offset-3 col-md-6">
      <div class="alert alert-danger" role="alert">
        <h3 translate="{{error}}" translate-values="{{errorData}}"></h3>
        <h5 translate="ERROR_CODE" translate-values="{{errorData}}"></h5>
      </div>
    </div>
  </div>
  <div class="row" ng-show="!error">
  
    <!-- LEFT COLUMN -->
    <div class="col-md-4">
                
      <div class="navbar-collapse collapse od-subheader-background-color m-b m-t">
        <div class="nav navbar-nav navbar-left">
          <p class="navbar-text"><strong >ALL STUDENTS</strong></p>
        </div>
      </div>
    
      <div class="list-group box-shadow--6dp">
        <a class="list-group-item" ng-click="focusOnStudent(learner[0].person_sourcedid)"   href ng-repeat="learner in data | filter:learnerFilter | orderBy : 'person.name_family'">
          
          <span class="label " style="background-color:{{learner.color}}"  >&nbsp;</span>
          &nbsp;
          <strong>{{learner[0].person.name_full}}</strong>
        </a>
      </div> 
      
    </div>
    
    <!-- RIGHT Column -->
    <div class="col-md-8">
    
      <div class="navbar-collapse collapse od-subheader-background-color m-b m-t">
        <div class="nav navbar-nav"><p class="navbar-text"><strong >FORUM ACTIVITY</strong></p></div>
    
    <div class="navbar-collapse collapse nav navbar-nav navbar-right">
        <ul ng-show="contextMapping && contextMapping.dashboards" class="nav navbar-nav navbar-left">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{viewType}}<span class="caret"></span></a>
            <ul class="dropdown-menu" ng-model="currentGraph"><a ui-sref="index.dashboard({cmid:contextMapping.id,dbid:dashboard.id})" id="LINK_INDEX_DASHBOARD_SELECT">
              <li ng-click="chooseGraph('Message View')"><a>&nbsp;&nbsp;Message View</a></li>
              <li ng-click="chooseGraph('Student View')"><a>&nbsp;&nbsp;Student View</a></li>
            </ul>            
          </li>
        </ul>
    </div>
        
        <!-- div align="right">    <select class="navbar-text" name="singleSelect" ng-model="currentGraph" ng-change="chooseGraph()">
		      <option value="messageView">Messages View</option>
		      <option value="studentView">Students View</option>
		    </select>
		    </div -->
      </div>
      
      <div class="box-shadow--6dp od-background-color-white" style="height: 400px;">
      	<div style="height: 400px;" id="mynetwork"></div>
        <!-- vis-network data="graphData" options="graphOptions" events="graphEvents"></vis-network -->
      </div>
      
      <!-- div id="mynetwork"></div -->
      
      <div class="navbar-collapse collapse od-subheader-background-color m-b m-t">
        <div class="nav navbar-nav"><p class="navbar-text"><strong >ALL ACTIVITY</strong></p></div>
      </div>
      
      <div class="box-shadow--6dp od-background-color-white">
        <div style="height: 400px;" id="studentActivityChart"></div>
        <!-- canvas id="line" class="chart chart-line" chart-data="chartData"
          chart-labels="labels" chart-series="series">
        </canvas -->
      </div>
      
    </div>
  </div>
</div>