<div class="row">            
    <div class="col-xs-2 col-lg-1 od-left" ng-include="'/framework/dashboard/left-nav.html'"></div>            
    <div class="col-xs-10 col-lg-11 od-content">
    
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <h1>Edit card</h1>
                <p class="lead">
                    Update the configuration information for this card.
                </p>
                <div class="media od-card-add">
                      <a class="pull-left" href="#">
                        <img class="media-object od-img-thumb" ng-src="{{card.imgUrl}}">
                      </a>
                      <div class="media-body">
                        <h4 class="media-heading">{{card.title}}</h4>
                        {{card.description}}
                      </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-8">
            	<div class="row ">
            		<div class="col-xs-12">
		                <form name="cardForm" class="m-t od-card-add" novalidate="novalidate">
		                  <div class="form-group" ng-repeat="c in cardConfig">
		                    <label for="{{c.field}}">{{c.fieldName}}</label>
		                    <div>
		                        <input type="{{c.fieldType}}" class="form-control" id="{{c.field}}" name="{{c.field}}" ng-required="{{c.required}}" ng-model="card.config[c.field]">
		                    </div>
		                  </div>
		                  
		                  <button class="btn btn-primary" ng-click="editCard()">Save</button>
		                  <button class="btn btn-link" ng-click="cancel()">Cancel</button>
		                </form>
            		</div>
            	</div>
            </div>
        </div>
    </div>
</div>