*.class
# editor (intellij)
.idea/
*.iml
# Mobile Tools for Java (J2ME)
.mtj.tmp/
# Package Files #
*.jar
*.war
*.ear
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.classpath
.project
/target
.settings/
.metadata/
phantomjsdriver.log
/bin/
/target/
LOG_FILE_IS_UNDEFINED
LOG_FILE_IS_UNDEFINED*
/node_modules
/node
od.log
od.log*

# Marist specific files #
deploy.sh