<div class="col-xs-12" ng-controller="RosterCardController">
	<div class="row" ng-show="!isStudent">
		<div class="col-xs-12 col-md-6 p-t p-b">
			<input type="text" class="form-control" ng-model="queryString" name="query" id="query" placeholder="Look up student"></input>
		</div>
	</div>
	
	<div class="row bg-info m-t">
		<div class="col-xs-3 p-t p-b">
			<h4 class="text-center"><strong><a href="#" ng-click="reverse = !reverse">Student Name</a></strong></h4>
		</div>
		<div class="col-xs-3 p-t p-b">
			<h4 class="text-center"><strong>Last Activity</strong></h4>
		</div>
		<div class="col-xs-3 p-t p-b">
			<h4 class="text-center"><strong>Activity Level</strong></h4>
		</div>
		<div class="col-xs-3 p-t p-b">
			<h4 class="text-center"><strong>Risk Assessment</strong></h4>
		</div>
	</div>

	<div class="row" ng-repeat="learner in course.learners | filter:queryString | orderBy : 'person.name_family' : reverse">
		<div class="col-xs-3 bg-primary p-t p-b">
			<h4 class="text-center"><strong>{{learner.person.name_full}}</strong></h4>
		</div>
		<div class="col-xs-3 p-t p-b">
			<h4 class="text-center">{{learner.last_activity}}</h4>
		</div>
		<div class="col-xs-3 p-t-sm p-b-sm">
			<div class="text-center"><span class="glyphicon glyphicon-stats" 
				ng-class="{'text-info':learner.relative_activity_level == 'Medium','text-success':learner.relative_activity_level == 'High','text-warning':learner.relative_activity_level == 'Low'}" style="font-size: 2em;"></span><br>{{learner.relative_activity_level | uppercase}}</div>
		</div>
		<div class="col-xs-3 p-t-sm p-b-sm">
			<div class="text-center"><span class="glyphicon glyphicon-align-justify" 
				ng-class="{'text-info':learner.risk == 'LOW RISK','text-success':learner.risk == 'NO RISK','text-danger':learner.risk == 'HIGH RISK', 'text-warning':learner.risk == 'MEDIUM RISK'}" style="font-size: 2em;"></span><br>{{learner.risk || "UNAVAILABLE"}}</div>
		</div>
	</div>
</div>
