<!-- margins -->
.m-l {
	margin-left: 10px;
}
.m-r {
	margin-right: 10px;
}
.m-t {
	margin-top: 10px;
}
.m-b {
	margin-bottom: 10px;
}

<!-- cards -->
.card .panel-body {
	min-height: 180px;
}
.card .img-responsive {
    margin: 0 auto;
}
.card:hover {
    border: 2px solid #0096da;
    cursor: pointer;
}

