<div class="col-xs-12 od-background-color" ng-controller="RiskAssessmentController" ng-show="loaded">
  <div class="row" ng-show="error">
    <div class="col-xs-12 col-md-offset-3 col-md-6" ng-show="error">
      <div class="alert alert-danger" role="alert">
        <h3 translate="{{error}}" translate-values="{{errorData}}"></h3>
        <h5 translate="ERROR_CODE" translate-values="{{errorData}}"></h5>
      </div>
    </div>
  </div>
  <div class="row" ng-show="!error && view == listView">
  
    <!-- LEFT COLUMN -->
    <div class="col-md-4">
                
      <div class="navbar-collapse collapse od-subheader-background-color m-b m-t">
        <ul ng-show="activeCourse" class="nav navbar-nav navbar-left">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="LINK_ACTIVITY_COURSE_LIST"><strong class="od-text-black">{{activeCourse.title}}</strong> <span class="od-text-black" class="caret" ng-show="courses"></span></a>
            <ul class="dropdown-menu" ng-show="courses">
              <li ng-repeat="enrollment in enrollments"><a href ng-click="switchClass(enrollment.class.sourcedId)" id="LINK_ACTIVITY_COURSE_LIST_SELECT">{{enrollment.class.title}}</a></li>
              <li class="divider"></li>
              <li ><a href ng-click="switchCourse(null)" translate="CL_HEADER">My Courses</a></li>
            </ul>
          </li>
        </ul>
      </div>
    
      <div class="list-group">
        <a class="list-group-item" ng-class="{'active': grouping.translationValue == ALL_STUDENTS.translationValue}" href ng-click="changeGrouping(ALL_STUDENTS);"><strong translate="RA_LABEL_ALL_STUDENTS">ALL STUDENTS</strong></a>
        <a class="list-group-item" ng-class="{'active': grouping.translationValue == HIGH_RISK.translationValue}" href ng-click="changeGrouping(HIGH_RISK);">
          <span class="label label-danger">&nbsp;</span>
          &nbsp;
          <strong translate="RA_LABEL_HIGH_RISK">HIGH RISK</strong>
          <strong class="pull-right" ng-show="highRiskPercentage">{{highRiskPercentage}}%</strong>
        </a>
        <a class="list-group-item" ng-class="{'active': grouping.translationValue == MEDIUM_RISK.translationValue}" href ng-click="changeGrouping(MEDIUM_RISK);">
          <span class="label label-warning">&nbsp;</span>
          &nbsp;
          <strong translate="RA_LABEL_MEDIUM_RISK">MEDIUM RISK</strong>
          <strong class="pull-right" ng-show="mediumRiskPercentage">{{mediumRiskPercentage}}%</strong>
        </a>
        <a class="list-group-item" ng-class="{'active': grouping.translationValue == LOW_RISK.translationValue}" href ng-click="changeGrouping(LOW_RISK);">
          <span class="label label-info">&nbsp;</span>
          &nbsp;
          <strong translate="RA_LABEL_LOW_RISK">LOW RISK</strong>
          <strong class="pull-right" ng-show="lowRiskPercentage">{{lowRiskPercentage}}%</strong>
        </a>
        <a class="list-group-item" ng-class="{'active': grouping.translationValue == NO_RISK.translationValue}" href ng-click="changeGrouping(NO_RISK);">
          <span class="label label-success">&nbsp;</span>
          &nbsp;
          <strong translate="RA_LABEL_NO_RISK">NO RISK</strong>
          <strong class="pull-right" ng-show="noRiskPercentage">{{noRiskPercentage}}%</strong>
        </a>
      </div> 
      <canvas id="doughnut" class="chart chart-doughnut hidden-xs hidden-sm"
        chart-data="data" chart-labels="labels" chart-colours="colors" chart-click="donutClick">
      </canvas> 
      
    </div>
    
    <!-- RIGHT Column -->
    <div class="col-md-8">
    
       <div class="navbar-collapse collapse od-subheader-background-color m-b m-t">
        <div class="nav navbar-nav">
        <p class="navbar-text"><strong translate="RA_LABEL_GROUPING">GROUPING</strong>:&nbsp;<strong>{{grouping.translationValue}}</strong></p>
        <p class="navbar-text"><strong translate="RA_LABEL_NUM_STUDENTS"># OF STUDENTS</strong>:&nbsp;<strong ng-show="counts">{{counts[grouping.label]}}</strong></p>
        </div>
        <ul class="nav navbar-nav navbar-right">
              <li>
                <button class="btn btn--3d btn--primary hdr-btn" href ng-disabled="compareGroup.length < 3" ng-click="changeToView(radarView)">
                  <span translate="RA_LABEL_COMPARE_STUDENTS">Compare Students</span>
                </button>
              </li>
        </ul>
      </div>
      
      <fieldset>
        <legend class="sr-only">Compare Students</legend>
        <table class="table table-bordered">
          <thead class="od-subheader-background-color">
            <tr>
              <th class="col-md-7 col-lg-5"><strong translate="RA_LABEL_STUDENT">STUDENT</strong></th>
              <th class="col-md-3 col-lg-5"><strong translate="RA_LABEL_RISK_CATEGORY">RISK CATEGORY</strong></th>
              <th class="col-md-2"><strong translate="RA_LABEL_COMPARE">COMPARE</strong></th>
            </tr>
          </thead>
          <tbody>
          
            <tr ng-repeat="enrollment in enrollments | filter:filterExpression | orderBy : 'user.familyName'" class="od-background-color-white">
              <td>
                <student-info learner="enrollment" indicators="getIndicators(enrollment)" drilldown="singleUserDrillDown(enrollment.user.userId)"></student-info>
              </td>
              <td ng-class="{'od-info-color':enrollment.output.MODEL_RISK_CONFIDENCE == 'LOW RISK','od-success-color':enrollment.output.MODEL_RISK_CONFIDENCE == 'NO RISK',
              'od-danger-color':enrollment.output.MODEL_RISK_CONFIDENCE == 'HIGH RISK', 'od-warning-color':enrollment.output.MODEL_RISK_CONFIDENCE == 'MEDIUM RISK'}" >{{enrollment.output['http://unicon.net/analytics/vocabulary/v1/passProbability']}}</td>
              <td class="center-block">
                <label class="sr-only" for="compare-{{$index}}">Compare {{enrollment.user.givenName}}&nbsp;{{enrollment.user.familyName}}</label>
                <input ng-keydown="checkBoxKeyDown($event)" id="compare-{{$index}}" aria-describedby="compare-{{$index}}" type="checkbox" ng-checked="compareGroup.indexOf(enrollment.user.userId) > -1" ng-click="toggleCompare(enrollment.user.userId)">
              </td>
            </tr>
          
          </tbody>
        </table>
      </fieldset>
    </div>
  </div>
  <div class="row" ng-show="!error && view == radarView">
    <!-- LEFT COLUMN -->  
    <div class="col-md-4">
      <div class="navbar-collapse collapse od-subheader-background-color m-b m-t">
        <div class="nav navbar-nav">
          <p class="navbar-text"><a href ng-click="changeToView(listView)"><strong class="od-text-black" translate="RA_LABEL_RETURN_TO_LIST_VIEW">RETURN TO LIST VIEW</strong></a></p>
        </div>
        <ul class="nav navbar-nav navbar-right">
              <li><a href data-toggle="modal" data-target="#legendModal"><strong class="od-text-black" translate="RA_LABEL_LEGEND">LEGEND</strong></a></li>
        </ul>
      </div>
      <div class="modal fade" id="legendModal" tabindex="-1" role="dialog" aria-labelledby="legendModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header od-subheader-background-color">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="legendModalLabel" translate="RA_LABEL_LEGEND">LEGEND</h4>
            </div>
            <div class="modal-body">
              <div class="list-group">
                <div class="list-group-item">
                  <span class="label label-danger">&nbsp;</span>
                  &nbsp;
                  <strong translate="RA_LABEL_HIGH_RISK">HIGH RISK</strong>
                </div>
                <div class="list-group-item">
                  <span class="label label-warning">&nbsp;</span>
                  &nbsp;
                  <strong translate="RA_LABEL_MEDIUM_RISK">MEDIUM RISK</strong>
                </div>
                <div class="list-group-item">
                  <span class="label label-info">&nbsp;</span>
                  &nbsp;
                  <strong translate="RA_LABEL_LOW_RISK">LOW RISK</strong>
                </div>
                <div class="list-group-item">
                  <span class="label label-success">&nbsp;</span>
                  &nbsp;
                  <strong translate="RA_LABEL_NO_RISK">NO RISK</strong>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="od-background-color-white">
        <div class="list-group" >
        
          <div class="list-group-item" ng-repeat="id in compareGroup" ng-init="enrollment = findInEnrollments(id);expand = false;" ng-click="expand = !expand;" ng-show="enrollment">
            <span ng-class="expand ? 'glyphicon glyphicon-triangle-bottom' : 'glyphicon glyphicon-triangle-right'"></span>
            &nbsp;
            <strong>{{enrollment.user.givenName}}&nbsp;{{enrollment.user.familyName}}</strong>
            <span class="od-text-black label pull-right" ng-class="{'label-info':enrollment.output.MODEL_RISK_CONFIDENCE == 'LOW RISK','label-success':enrollment.output.MODEL_RISK_CONFIDENCE == 'NO RISK',
            'label-danger':enrollment.output.MODEL_RISK_CONFIDENCE == 'HIGH RISK', 'label-warning':enrollment.output.MODEL_RISK_CONFIDENCE == 'MEDIUM RISK'}">{{translateRiskLevel(enrollment.output.MODEL_RISK_CONFIDENCE)}}</span>
            <div class="row m-t" ng-show="expand" ng-init="indicators = getIndicators(enrollment)">
              <div class="col-xs-12">
                <div class="list-group">
                  <div class="list-group-item" ng-repeat="indicator in indicators">
                    <strong translate="{{indicator.translationKey}}">{{indicator.name}}</strong>
                    <span class="pull-right glyphicon-transparent" ng-class="indicator.label"></span>
                  </div>              
                </div>
              </div>
            </div>
          </div>
        </div>    
      </div>
    </div>
    <!-- RIGHT COLUMN -->
    <div class="col-md-8">
      <div class="navbar-collapse collapse od-subheader-background-color m-b m-t">
        <div class="nav navbar-nav">
          <p class="navbar-text"><strong translate="RA_LABEL_NUM_STUDENTS"># OF STUDENTS</strong>:&nbsp;<strong>{{compareGroup.length - 1}}</strong></p>
        </div>
      </div>
      <canvas class="chart chart-radar od-background-color-white p-t p-b" chart-colours="radarColors" chart-data="radarData" chart-labels="radarLabels" chart-options="radarOptions" ></canvas>
    </div>

  </div>
</div>