<div class="row" ng-controller="SnappCardController">
  <div class="col-xs-12">
    <div ng-show="isError" class="alert alert-danger" role="alert" translate="{{errorMessage}}">...</div>
  </div>
  
  <div class="col-xs-12 col-md-4" ng-show="!selectedForum.title || !selectedTopic.title">
   <div class="chart-wrapper">
    <div class="chart-title" translate="SNAPP_CARD_CONFIGURATION"></div>
    <div class="chart-stage">
    <div class="list-group">
      <a href="#" class="list-group-item" ng-class="{'active':step == '1', 'list-group-item-success':selectedForum.title}">
        <h4 class="list-group-item-heading" translate="SNAPP_CARD_STEP1"></h4>
        <p class="list-group-item-text" translate="SNAPP_CARD_FORUMLIST_INSTRUCTIONS"></p>
      </a>
      <a href="#" class="list-group-item" ng-class="{'active':step == '2', 'list-group-item-success':selectedTopic.title}">
        <h4 class="list-group-item-heading" translate="SNAPP_CARD_STEP2"></h4>
        <p class="list-group-item-text" translate="SNAPP_CARD_TOPICSLIST_INSTRUCTIONS"></p>
      </a>
    </div> 
    </div>
    </div> 
  </div>
  <div class="col-xs-12 col-md-8">
   <div class="chart-wrapper" ng-show="step == '1'">
    <div class="chart-title" translate="SNAPP_CARD_FORUMLIST_TITLE"></div>
    <div class="chart-stage">
      <div class="list-group">
        <a href="#" class="list-group-item" ng-repeat="forum in forums | orderBy:'title'" ng-click="selectForum(forum);">{{forum.title}}</a>
      </div>
    </div>
   </div>
    <div class="chart-wrapper" ng-show="step == '2'">
      <div class="chart-title" translate="SNAPP_CARD_TOPICSLIST_TITLE"></div>
      <div class="chart-stage">
        <div class="list-group">
          <a href="#" class="list-group-item" ng-repeat="topic in selectedForum.topics | orderBy:'title'" ng-click="selectTopic(topic);">{{topic.title}}</a>
         </div>
      </div>
    </div>        
  </div>

  <div class="col-xs-12" ng-show="selectedForum.title && selectedTopic.title">    
    <!-- Visualization -->
    <div class="row">
     <div class="col-xs-12 col-md-8" >
      <div class="chart-wrapper">
        <div class="chart-stage" style="height: 600px;">
          <ol class="breadcrumb">
            <li><a href="#" ng-click="forum();">{{selectedForum.title}}</a></li>
            <li><a href="#" ng-click="topic();">{{selectedTopic.title}}</a></li>
          </ol>
          <vis-network data="graphData" options="graphOptions" events="graphEvents"></vis-network>
        </div>
      </div>
     </div>
     <div class="col-xs-12 col-md-4" ng-show="studentNodeView">
     <div class="chart-wrapper">
      <div class="chart-title" translate="SNAPP_CARD_SELECTED_NODE"></div>
      <div class="chart-stage m-t">
      <div class="media">
          <div class="pull-left">
              <!-- TODO allow for individual user images-->
              <!-- icon source: http://sixrevisions.com/freebies/icons/free-icons-1000/ -->
              <img class="media-object" alt="64x64" src="/assets/img/64x64.png" data-holder-rendered="true" style="width: 64px; height: 64px;">
          </div>
          <div class="media-body">
            <h4 class="media-heading">{{studentNodeView.nodeId}}</h4>
            <h5>{{studentNodeView.numberMessages}} <span translate="SNAPP_CARD_MESSAGES_SENT"></span></h5>
            <h5>{{studentNodeView.numberReplies}} <span translate="SNAPP_CARD_REPLIES_SENT"></span></h5>
          </div>
        </div>
      </div>
     </div>
      </div>
    </div>
    
  </div>
</div>