<div class="col-xs-12" ng-controller="EventViewerCardController">
  <div ng-show="isError" class="alert alert-danger" role="alert" translate="{{errorMessage}}">...</div>
  <div class="chart-wrapper">
    <div class="chart-title">
      <div class="row">
        <div class="col-xs-12 col-md-6 p-t p-b">
          <h4 class="text-center"
            ng-show="!events || events.length == 0" translate="TEXT_NO_EVENTS" translate-values="{ courseName: courseName }"></h4>
          <h4 ng-show="events" translate="TEXT_EVENTS" translate-values="{ courseName: courseName }"></h4>
        </div>
      </div>
    </div>
    <div class="chart-stage">
      <div class="row">
        <div class="col-xs-12 col-md-8">
          <table class="table table-hover table-condensed">
            <thead>
              <tr>
                <th translate="LABEL_ACTOR"></th>
                <th translate="LABEL_VERB"></th>
                <th translate="LABEL_OBJECT"></th>
              </tr>
            </thead>
            <tbody>
              <tr
                ng-repeat="event in events | orderBy:'timestamp'"
                ng-click="expandEvent(event)">
                <td>{{event.actor}}</td>
                <td>{{event.verb}}</td>
                <td>{{event.object}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="colx-xs-12 col-md-4" ng-show="activeEvent">
          <pre>{{activeEvent.raw}}</pre>
        </div>
      </div>
    </div>
  </div>
</div>
