<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>

    <title>OpenDashboard</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'></link>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" th:href="@{/css/lib/bootstrap.min.css}"></link>
    <link rel="stylesheet" th:href="@{/css/od.css}"></link>
    
</head>

<body >
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-2">
                <img class="center-block m-t od-logo" alt="" src="/img/od.png"></img>
            </div>
            <div class="col-xs-10">
                <h3 class="text-center">Oops!</h3>
                <h4 class="text-center">Something happened that won't allow you to see your dashboard. Sorry!</h4>
            </div>
        </div>
    </div>
</body>
</html>
