<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>

    <title>OpenDashboard</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'></link>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" th:href="@{/css/lib/bootstrap.min.css}"></link>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.6.0/vis.min.css"></link>
    <link rel="stylesheet" th:href="@{/css/od.css}"></link>
    
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.underscore.min.js" th:src="@{/js/lib/lodash.underscore.min.js}"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/string.js/3.0.0/string.min.js" th:src="@{/js/lib/string.min.js}" charset="UTF-8"></script>

    <script th:src="@{/framework/od-api-module.js}"></script>    
    <script th:src="@{/framework/od-models.js}"></script>
    <script th:inline="javascript">
    /*<![CDATA[*/
        var inbound_lti_launch_request = /*[[${inbound_lti_launch_request}]]*/ null;
        if(inbound_lti_launch_request && typeof(sessionStorage) !== "undefined") {
            sessionStorage.setItem('inbound_lti_launch',JSON.stringify(inbound_lti_launch_request));
        } 
    
        var od_token = /*[[${token}]]*/ null;
        if(od_token && typeof(sessionStorage) !== "undefined") {
            sessionStorage.setItem('token',od_token);
        } 

        OpenDashboardApi.setInbound_LTI_Launch(inbound_lti_launch_request);
    /*]]>*/
    </script>
</head>

<body id="ng-app" ng-app="OpenDashboard">
    <div class="container-fluid ng-view">
    </div>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" th:src="@{/js/lib/bootstrap.min.js}"></script>
    <script type="text/javascript" src="http://demos.amitavroy.com/learningci/assets/js/xml2json.js" charset="UTF-8"></script>
	
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.4/angular.min.js" th:src="@{/js/lib/angular.min.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.4/angular-route.min.js" th:src="@{/js/lib/angular-route.min.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.4/angular-resource.min.js" th:src="@{/js/lib/angular-resource.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate/2.7.2/angular-translate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate-loader-partial/2.7.2/angular-translate-loader-partial.min.js"></script>
    
    <script th:src="@{/js/lib/moment.min.js}"></script>
    
    <!-- TODO: add local copies -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.3.11/d3.js" th:src="@{/js/lib/d3.js}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.11/crossfilter.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/dc/2.0.0-alpha.2/dc.min.js"></script>
    <script th:src="@{/js/lib/angular-dc.min.js}"></script>
    <script th:src="@{/js/lib/angular-charts.min.js}"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.6.0/vis.min.js"></script>
    <script th:src="@{/js/lib/angular-vis.js}"></script>
    
    <script th:src="@{/framework/od-framework.js}"></script>
    <script th:src="@{/framework/od-app.js}"></script>
    <script th:src="@{/framework/od-controller.js}"></script>
    <script th:src="@{/framework/od-services.js}"></script>
    
    <!-- Providers -->
    <script th:src="@{/framework/roster/od-roster-service.js}"></script>
    <script th:src="@{/framework/assignment/od-assignment-service.js}"></script>
    <script th:src="@{/framework/forum/od-forum-service.js}"></script>
    <script th:src="@{/framework/course/od-course-service.js}"></script>
    <script th:src="@{/framework/outcomes/od-outcomes-service.js}"></script>
    
    <!-- welcome -->
    <script th:src="@{/framework/welcome/controller.js}"></script>
    <!-- dashboard -->
    <script th:src="@{/framework/dashboard/controllers.js}"></script>
    <!-- card -->
    <script th:src="@{/framework/card/controllers.js}"></script>
    
    <!-- Cards -->
    <!-- LTI -->
    <script src="../static/cards/lti/module.js" th:src="@{/cards/lti/module.js}"></script>
    <!-- OpenLRS -->
    <script src="../static/cards/openlrs/module.js" th:src="@{/cards/openlrs/module.js}"></script>
    <!-- Roster -->
    <script src="../static/cards/roster/module.js" th:src="@{/cards/roster/module.js}"></script>
    <!-- Demo -->
    <script src="../static/cards/demo/module.js" th:src="@{/cards/demo/module.js}"></script>
    <!-- SNAPP -->
    <script src="../static/cards/snapp/module.js" th:src="@{/cards/snapp/module.js}"></script>
</body>
</html>
