<div class="col-xs-12" ng-controller="ActivityController" style="background-color: #F1F0EB;">
  <div class="row">
  
    <!-- LEFT COLUMN -->
    <div class="col-md-4">
      <div class="navbar-collapse collapse" ng-show="!isStudent" style="background-color: #ACA8A1; margin-bottom: 10px; margin-top: 10px;">
        <div class="nav navbar-nav navbar-left">
          <p class="navbar-text"><strong>ACTIVITY STREAM</strong></p>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href ng-click="refreshActivityStream();"><i style="color:black;" class="glyphicon glyphicon-refresh"></i></a></li>
        </ul>
        <ul ng-show="activeCourse" class="nav navbar-nav navbar-left">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="LINK_ACTIVITY_COURSE_LIST"><strong style="color:black;">{{activeCourse.title}}</strong> <span style="color:black;" class="caret" ng-show="courses"></span></a>
            <ul class="dropdown-menu" ng-show="courses">
              <li ng-repeat="course in courses"><a href ng-click="switchCourse(course.id)" id="LINK_ACTIVITY_COURSE_LIST_SELECT">{{course.title}}</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="box-shadow--6dp" style="background-color: white;">
        <div class="media" ng-repeat="event in events">
          <div class="media-left">
            <a href="#">
              <img class="media-object" src="https://placehold.it/64x64" >
            </a>
          </div>
          <div class="media-body">
            <h6 class="media-heading">February 15th 2016, 1:19:21 pm</h6>
            <p><strong>Joe Smith</strong> experienced <strong>something</strong>.
          </div>
        </div>    
      </div>
    </div>
    
    <!-- RIGHT Column -->
    <div class="col-md-8">
    activity right
    </div>
    
  </div>
</div>