<div class="row">            
    <div class="col-xs-2 col-lg-1 od-left" ng-include="'/framework/dashboard/left-nav.html'"></div>            
    <div class="col-xs-10 col-lg-11 od-content">
        <div class="col-xs-12 col-lg-6">
            <h1>Add a new dashboard</h1>
            <p class="lead">
                Start from scratch with a new dashboard.
            </p>
            <form name="add-dashboard-form" role="form" novalidate="novalidate">
              <div class="form-group col-xs-12 col-lg-6" ng-class="{ 'has-error' : add-dashboard-form.title.$dirty && add-dashboard-form.title.$invalid }">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" name="launchUrl" placeholder="Give your dashboard a title" 
                    ng-model="dashboard.title" required>
                <p ng-show="add-dashboard-form.title.$dirty && add-dashboard-form.title.$error.required" class="help-block">Title is required.</p>
              </div>
              <div class="form-group col-xs-12">
                  <button ng-disabled="!add-dashboard-form.$valid || submitted" class="btn btn-primary" ng-click="save()">Save</button>
              </div>
            </form>
        </div>    
    </div>
</div>