<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-left" ng-controller="NavigationController">
        <li><a href="../"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
        <li ng-if="!isStudent && (contextMapping && contextMapping.id)"><a ng-href="/cm/{{contextMapping.id}}/dashboard">+  Dashboard</a></li>
        <li ng-if="!isStudent && (contextMapping && contextMapping.id) && activeDashboard"><a ng-href="/cm/{{contextMapping.id}}/dashboard/{{activeDashboard.id}}?addCard=true">+  Card</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-left" ng-if="contextMapping">
        <li ng-repeat="dashboard in contextMapping.dashboards" ng-class="{ 'active' : dashboard.id == activeDashboard.id }"><a ng-href="/cm/{{contextMapping.id}}/dashboard/{{dashboard.id}}">{{dashboard.title}}</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a>Place Holder</a></li>
    </ul>
</div>