<div class="row">            
    <div class="col-xs-2 col-lg-1 od-left" ng-include="'/framework/dashboard/left-nav.html'"></div>            
    <div class="col-xs-10 col-lg-11 od-content">
        <div class="col-xs-12" ng-if="activeDashboard">
            <div ng-if="showAddCard || !activeDashboard.cards || activeDashboard.cards.length == 0">
                <h1>Add cards</h1>
                <p class="lead">
                    Select the visualization and data view cards that you want to appear on your dashboard.
                </p>
                <div class="col-xs-12 col-sm-6 col-md-3" ng-repeat="(key, card) in cards">
                    <div class="od-card-box" ng-click="addCard(card.cardType)">
                        <img ng-src="{{card.imgUrl}}">
                        <p class="lead">{{card.title}}</p>
                        <p>{{card.description}}</p>
                    </div>                
                </div>
            </div>
            <div ng-if="!showAddCard && activeDashboard.cards && activeDashboard.cards.length > 0" class="m-t">
                <div ng-repeat="card in activeDashboard.cards" class="{{card.styleClasses}}">
                	<button ng-if="!isStudent && !showNavbar" type="button" class="btn btn-default navbar-btn pull-right" ng-click="toggleNavbar()"><span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span></button>
                    <div class="navbar navbar-default m-t" ng-show="showNavbar">
                        <div class="container-fluid">
                        	<button type="button" class="btn btn-default navbar-btn" ng-click="toggleNavbar()"><span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span></button>
                            <div class="navbar-right" >
                                <button type="button" class="btn btn-default navbar-btn" ng-click="editCard(card)">Edit</button>
                                <button type="button" class="btn btn-default navbar-btn" ng-click="removeCard(card)">Remove</button>                       
                            </div>
                          </div>
                    </div>
                    <div ng-include="'/cards/'+card.cardType+'/view.html'"></div>
                </div>
            </div>
        </div>    
    </div>
</div>